@import url('https://cdn.syncfusion.com/ej2/material.css');

.sidebar {
  box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
}
.nav-item,
.navbar {
  z-index: 10000;
}
@media  screen and (max-width:800px) {
  .sidebar{
    z-index: 10000000;
  }
}

.e-dlg-center-center, .e-quick-popup-wrapper.e-device{
  z-index: 1000000 !important;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* color-picker style  */

 #preview {
  background: transparent
    url('https://ej2.syncfusion.com/react/demos/src/color-picker/images/pen.png')
    no-repeat;
  display: inline-block;
  height: 80px;
  margin: 10px 0;
  min-width: 300px;
  max-width: 600px;
  background-color: #008000;
}

.e-input-group:not(.e-float-icon-left), .e-input-group.e-success:not(.e-float-icon-left), .e-input-group.e-warning:not(.e-float-icon-left), .e-input-group.e-error:not(.e-float-icon-left), .e-input-group.e-control-wrapper:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-success:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-warning:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-error:not(.e-float-icon-left){
  border: none;
}


/* Kanban */
/* Light Mode */
.react-kanban-card {
  background-color: rgb(240, 240, 240);
  color: black;
}

.react-kanban-card__title {
  font-size: medium;
  text-decoration: underline;
}

.react-kanban-card--dragging {
  background-color: white;
  color: blue;
}

/* Dark Mode */
.dark .react-kanban-card {
  background-color: #27272a;
  color: #e5e7eb; /* Tailwind's gray-200 */
}

.dark .react-kanban-card--dragging {
  background-color: #374151; /* Slightly lighter shade */
  color: #e5e7eb;
}

.dark .react-kanban-column {
  background-color: #383839; /* Slightly lighter shade */
  color: #e5e7eb;
}


/* Editor */
:root {
  --color-pink: #ee415f;
  --color-green: #58ce97;
  --color-orange: #fc7d4a;
  --color-red: #d14758;
  --color-pale-pink: #ef6e85;
  --color-coral: #f3907e;
  --color-peach: #ecb38d;
  --color-aqua: #a0ded0;
  --color-pale-aqua: #c0ebe1;
  --color-lightest-blue: #f8fcff;
  --color-blue: #4c88e9;
  --color-black: #242e39;
  --color-gray-1: #3b424b;
  --color-gray-2: #68707d;
  --color-gray-3: #949fab;
  --color-gray-4: #c7cdd4;
  --color-gray-5: #edf1f6;
  --color-gray-6: #f7f9fb;
  --color-white: #fff;
}

html {
  box-sizing: border-box;
}


*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: var(--color-black);
  font-size: 16px;
  line-height: 1.5;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

a {
  color: var(--color-pink);
}

p {
  margin: 0;
}

p + p {
  margin-top: 16px;
}

kbd,
code {
  padding: 4px;

  border-radius: 4px;
  background-color: var(--color-gray-6);
  color: var(--color-gray-1);

  box-decoration-break: clone;

  font-size: 14px;
}

.app {
  width: 720px;
  margin: 0 auto 48px;
}


.editor {
  position: relative;
  margin: auto; 
  margin-top: 20px; 
  width: 80%; 
  max-width: 800px; 
  padding: 10px; 
  border: 1px solid var(--color-gray-5); 
  border-radius: 8px; 
  background-color: var(--color-white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

/* dark Mode */
.dark .editor {
  background-color: #27272a;
  color: #e5e7eb;
}

.dark .menu {
  background-color: #2a2a2b;
  color: #e5e7eb;
}

.menu {
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 8px;
  width: calc(100% - 4px);
  height: 40px;
  padding: 0 8px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 1px solid var(--color-gray-5);
  background-color: var(--color-white);
}


.link-menu {
  display: flex;
  align-items: center;
  gap: 8px;

  /* height: 40px; */
  padding: 8px;

  border: 2px solid var(--color-gray-5);
  border-radius: 4px;
  background-color: var(--color-white);
}

.button,
.button-save,
.button-remove,
.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 32px;

  margin: 0;
  padding: 0 8px;

  border: 0;
  border-radius: 4px;
  background: transparent;
  color: currentColor;

  font-family: inherit;
  font-size: inherit;
  line-height: 1;
  font-weight: inherit;

  white-space: nowrap;
  cursor: pointer;
}

.menu-button {
  width: 32px;
  padding: 0;
}

.button:hover,
.button.is-active,
.menu-button:hover,
.menu-button.is-active {
  background-color: var(--color-gray-5);
  color: var(--color-black);
}

.button:disabled,
.menu-button:disabled {
  color: var(--color-gray-4);
}

.button-save {
  background-color: var(--color-green);
  color: var(--color-white);
}

.button-remove {
  background-color: var(--color-red);
  color: var(--color-white);
}

.button-remove:disabled {
  background-color: var(--color-pale-pink);
}

/* Basic editor styles */
.ProseMirror {
  margin-top: 4px;
  padding: 48px 8px 8px;

  border: 2px solid var(--color-gray-4);
  border-radius: 4px;
}

.editor-mini .ProseMirror {
  padding-top: 8px;
}

.ProseMirror-focused {
  border-color: var(--color-black);
  outline: none;
}

.ProseMirror > * + * {
  margin-top: 16px;
}


